.venue {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;

  &__image {
    flex: 1 1 auto;
    height: 50vh;
  }

  &__tips{
    flex: 1 1 auto;
    height: 40vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;

    li {
      flex: 1 1 auto;
      padding: 1em;
    }
  }

  &__title {
    flex: 1 1 auto;
    height: 10vh;

    h1 {
      font-size: 1.8em;
    }
  }

  &__map {
    flex: 1 1 auto;
    height: 90vh;
  }
}
